a:link {color:white;}
a:visited {color:white;} 
a:hover {color:white;}
a:active {color:white;}  


a.donker:link{color:black;}
a.donker:visited {color:black;}
a.donker:hover {color:black;}
a.donker:active{color:black;}

a.logolink:link {color:white;text-decoration:none;}
a.logolink:visited {color:white;text-decoration:none;} 
a.logolink:hover {color:white;text-decoration:none;}
a.logolink:active {color:white;text-decoration:none;} 

a.categorielink:link {color:white;text-decoration:none;font-size:20px;font-family:calibri;}
a.categorielink:visited {color:white;text-decoration:none;font-size:20px;font-family:calibri;} 
a.categorielink:hover {color:white;text-decoration:none;font-size:28px;font-family:calibri;}
a.categorielink:active {color:white;text-decoration:none;} 

a.ordenlink:link {color:white;text-decoration:none;}
a.ordenlink:visited {color:white;text-decoration:none;} 
a.ordenlink:hover {color:white;text-decoration:underline;}
a.ordenlink:active {color:white;text-decoration:none;}

a.flow:link {color:white;text-decoration:none;}
a.flow:visited {color:white;text-decoration:none;} 
a.flow:hover {color:white;text-decoration:underline;}
a.flow:active {color:white;text-decoration:none;}





a.coverflow:link {color:black;text-decoration:none;}
a.coverflow:visited {color:black;text-decoration:none;} 
a.coverflow:hover {color:black;text-decoration:underline;}
a.coverflow:active {color:black;text-decoration:none;}

.coverflow{
    text-align:center;
    font-size:20px;
}
#knoppen{
    position:absolute;
    
}
.bestel{
	font-size: 15px;
	text-align: center;
}

h1{
	font-family: calibri;
	color: white;
}

h2{
	font-family: calibri;
	color: rgb(210,92,137);
}


body {
	background-color:white;
	background-image:url('afbeeldingen/achtergrond.jpg');
	background-repeat:repeat-x;
	background-position:right top;
	width:1080px;
        height:100%;
	margin-left:auto;
	margin-right:auto;
	font-family: calibri;
}


.Error {
	color:red;
	text-align:left;
}
.Groot {
	font-family: calibri;
	font-size: 20px;
}
#midden{
	margin:auto; 
	width:60%;
	background-color:grey;
}

#logo {
        
	width:240;
	height:74;
	position:absolute;
	top: 0px;
	left: 0px;
        font-family:Impact,Times,sans-serif;
	font-size: 90px;
}
#nl {
    
    font-size: 50px;
}

#klantblok {
	
	width:100%;
	
	position: absolute;
        top:10px;
	right:0px;
	text-align:right;
	padding-right:5px;
	padding-bottom:0px;
	color:white;
	font-family:Impact,Times,sans-serif;
	font-size: 23px;
}

#klantlinks {
width:100%;
text-align:right;
color:white;
font-family:sans-serif;
font-size: 15px;
}

#toplijst {

width:100%;
text-align:center;
color:white;
font-family:calibri;
font-size:28px;
position:absolute;
top:100px;
left:0px;
}

#toptabel {
position:absolute;
top:0px;
right:0px;
width:100%;
text-align:center;
background-color: gray;
}
.categorieblok {
	background-image:url('afbeeldingen/categorieblok.jpg');
	background-repeat:no-repeat;
	background-position:left bottom;
}
#helepaginadiv {
   
width:100%;
position:relative;
top: -9px;
font-family: calibri;
}

#zoekbalk {
position:absolute;
top:70px;
right:0px;
text-align:right;
}

#producttabel {
background-color:transparent;
text-align:center;
color:black;
position:relative;
    top:20px;
}
#reviewtabel {
    background-color:#E7E7E7;
}
#ordenbalk {
   
    text-align:right;
    width:30%;
    color:white;
    background-color:#525252;
    margin-left:70%;
    
}
a.productinlijst:link{color:black;text-decoration:none;}
a.productinlijst:visited {color:black;text-decoration:none;}
a.productinlijst:hover {color:black;text-decoration:underline;}
a.productinlijst:active{color:black;text-decoration:none;}
.productinlijst {
    font-family:calibri;
    font-size:20px;
}
.producttitel{
    font-family: calibri;
    color: white;
    font-size:50px;   
    font-weight: lighter;
}
#prijsblok{
    
    font-family: impact;
    color: black;
    font-size:40px;
    
}

.merklinks{
    
    color: black;
    font-size:20px;
}